table {
    font-family: "Roboto", helvetica, arial, sans-serif;
    width: 90%;
    border-radius: 3px;
    border-collapse: collapse;
    border-spacing: 10px;
}

h2 {
    font-family: "Roboto", helvetica, arial, sans-serif;
    font-size: 30px;
    color: azure;
    text-align: center;
}

.field, .button {
    text-align-all: center;
    width: 300px;
    font-size: large;
}

.button {
    font-family: "Roboto", helvetica, arial, sans-serif;
    font-size: 100px;
}

table, th, td {
    color: grey;
    font-size: 30px;
    font-weight: 400;
    border: 1px solid #ddd;
    padding: 20px;
}

tr {
    color: #666B85;
    font-size: 16px;
    font-weight: normal;
}

tr:nth-child(even) {
    font-family: "Roboto", helvetica, arial, sans-serif;
    font-weight: normal;
    background-color: #EBEBEB;

}

tr:nth-child(odd) {
    font-family: "Roboto", helvetica, arial, sans-serif;
    font-weight: normal;
    background-color: ghostwhite;
}

th {
    color: azure;;
    background: #1b1e24;
    border-bottom: 4px solid #9ea7af;
    border-right: 1px solid #343a45;
    font-size: 23px;
    font-weight: 100;
    padding: 24px;
    text-align: left;
    vertical-align: middle;
}

body {
    background-color: #3e94ec;
    font-family: "Roboto", helvetica, arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
}