<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf Exercise #</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <meta charset="utf-8"/>
</head>
<body>
<table>
    <tr>
        <th>Index</th>
        <th>Name</th>
        <th>Balance</th>
        <th>Type</th>
        <th>Is king?</th>
    </tr>
    <tbody>
    <th:block th:each="element : ${accountList}">
        <tr th:if="${element.king}" class="king">
            <td th:text="${elementStat.index}"></td>
            <td th:text="${element.name}"></td>
            <td th:text="${#numbers.formatDecimal(element.balance, 1,2)}"></td>
            <td th:text="${element.animalType}"></td>
            <td th:text="${element.isKing()}"></td>
        </tr>
        <tr th:unless="${element.king}">
            <td th:text="${elementStat.index}"></td>
            <td th:text="${element.name}"></td>
            <td th:text="${#numbers.formatDecimal(element.balance, 1,2)}"></td>
            <td th:text="${element.animalType}"></td>
            <td th:text="${element.isKing()}"></td>
        </tr>
    </th:block>
    </tbody>
</table>
</body>
</html>